* {
    font: "IBM Plex Mono 18";

    background:     #1A1515FF;
    background-alt: #2D2424FF;
    foreground:     #FFE9C7FF;
    selected:       #CF2241FF;
    active:         #B8BB26FF;
    urgent:         #FB4934FF;
}
