[Desktop Entry]
Name=Discord
Exec=/home/fidelicura/.own/Discord/Discord %u
Terminal=false
Type=Application
Categories=Social;
MimeType=x-scheme-handler/discord;
